---
layout: base
---

{% include pagetitle.html type="post" %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <main role="main" class="blog-post">
        {{ content }}
      </main>

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <div class="related">
        {% if site.related_posts %}
        <h2>Also</h2>
        {% endif %}
        <div class="related-posts row">
          {% for post in site.related_posts limit:4 %}
            <div class="col-lg-3 col-md-3">
              <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}&nbsp;<small>{{ post.date | date_to_string }}</small></a></h3>
              <span class="post-entry">{{ post.excerpt | strip_html | xml_escape | truncatewords: 19 }}</span>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="container pager">
  <div class="row justify-content-between">
    <div class="col-lg-1 col-md-1 arrowbox">
      {% if page.previous.url %}
        <a class="arrow" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">‹</a>
      {% endif %}
    </div>
    <div class="col-lg-8 col-md-10"></div>
    <div class="col-lg-1 col-md-1 arrowbox" style="text-align:left">
      {% if page.next.url %}
        <a class="arrow" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">›</a>
      {% endif %}
    </div>
  </div>
</div>
