---
layout: base
---

{% include pagetitle.html type="post" %}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <main role="main" class="blog-post">
        {{ content }}
      </main>

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <div class="pager row">
        {% if page.previous.url %}
          <div class="col-lg-1 col-md-1 col-lg-pull-2 col-md-pull-2">
            <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">‹</a>
          </div>
        {% endif %}
        {% if page.next.url %}
          <div class="col-lg-1 col-lg-push-12 col-md-1 col-md-push-12">
            <a class="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">›</a>
          </div>
        {% endif %}
      </div>

      <div class="related">
        <h2>Also</h2>
        <div class="related-posts row">
          {% for post in site.related_posts limit:4 %}
            <div class="col-lg-3 col-md-3">
              <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}&nbsp;<small>{{ post.date | date_to_string }}</small></a></h3>
              <span class="post-entry">{{ post.excerpt | strip_html | xml_escape | truncatewords: 19 }}</span>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
